{
	"extends": [
		"plugin:react/recommended",
		"standard"
	],
	"parser": "babel-eslint",
	"rules": {
		"semi": [2, "always"],
		"semi-spacing": ["error", {"before": false, "after": true}]
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
