# See https://help.github.com/ignore-files/ for more about ignoring files.

# ignore module generated for npm
./index.js

# dependencies
node_modules/

# IDE files
.project
.settings/

# misc
.DS_Store
*.log
*.swp
